<div class="navbar">
    <div class="navbar_left">
      <a href="/"><img class="navbar_logo" src="assets/Campus Connect 2.png" alt="logo" /></a>
    </div>

    <div class="navbar_center">
      <a class="active_icon" href="#">
        <i class="fa fa-<%=group%>"></i>
      </a>
    </div>

    <div class="navbar_right">
      <div class="navbar_right_profile">
        <img src="assets/profile.png" alt="profile" />
        <span>Abhay</span>
      </div>
    
    </div>
    </div>
