<div class="content_left">
    <ul>
      <li>
        <a href="/">
            <i class="fa fa-home"></i>
            <span>Home</span>
          </a>
       
        </a>
      </li>
      <li>
        <a href="/sports">
            <i class="fa fa-trophy"></i>
          <span>Sports</span>
        </a>
      </li>
      <li>
        <a href="#">
            <i class="fa fa-film"></i>
          <span>Movie</span>
        </a>
      </li>
      <li>
        <a href="#">
            <i class="fa fa-play"></i>
          <span>Dance</span>
        </a>
      </li>
      <li>
        <a href="/music">
            <i class="fa fa-music"></i>
          <span>Music</span>
        </a>
      </li>
      <div class="border"></div>

      
    </ul>
  </div>
